@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@theme {
  --breakpoint-vw: 1260px;
}
